
@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0 0% 98%;
		--theme-bg-callout: 0 0% 98%;
		--theme-link: 172 18.1% 41.2%;
		--theme-text: 202 10.5% 14.9%;
		--theme-accent: 351 65.9% 48.2%;
		--theme-accent-2: 0 0% 6.7%;
		--theme-quote: 351 65.9% 48.2%;
		--theme-menu-bg: hsl(0 0% 98% / 0.85);
        --theme-shadow: 0 0% 0% / 10%; /* Light mode shadow color */
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210 6.5% 12.2%;
		--theme-bg-callout: 210 6.5% 12.2%;
		--theme-link: 330 49.4% 66.7%;
		--theme-text: 220 2.9% 79.4%;
		--theme-accent: 159 62.8% 45.3%;
		--theme-accent-2: 0 0% 93.3%;
		--theme-quote: 102 100% 85.7%;
		--theme-menu-bg: hsl(210 6.5% 12.2% / 0.85);
        --theme-shadow: 0 0% 100% / 10%; /* Dark mode shadow color */
	}

	li {
		margin: 2%;
	}

	html {
		@apply h-full border-t-0 border-textColor scroll-smooth;
	}
	a {
	    @apply sm:py-0 sm:hover:text-textColor sm:hover:underline;
	}

    /* unvisited link */
    a:link {
        color: #23707b;
    }

    /* visited link */
    a:visited {
        /* color: #19535d; */
        color: #2aaaba;
    }

    /* selected link */
    a:active {
        color: #000000;
    } 

    html body {
		@apply h-full max-w-3xl mx-auto px-8 pt-16 font-mono font-normal antialiased text-sm flex flex-col text-textColor bg-bgColor;
	}
}
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-link {
		color: #2aaaba;
	}

    .text-pink {
        color: #ba5789;	
        font-weight: bold; /* Makes the text bolder */
		font-size: 0.9rem; /* Increases the text size */
    }

    .separator {
      color: #9ca3af; /* Gray color */
      display: flex; /* Ensures proper alignment */
      align-items: center; /* Centers the separator vertically */
      margin: 0 0.2rem; /* Reduced spacing */
      border-left: 1px solid #9ca3af; /* Creates a vertical line */
      height: 1.5rem; /* Adjust the height of the line */
    }

   .callout {
    background-color: hsl(var(--theme-bg-callout)); /* Use theme background */
    border-left: 4px solid hsl(var(--theme-link)); /* Use theme link color */
    padding: 1rem; /* Add padding inside the callout */
    margin-bottom: 1.5rem; /* Space below the callout */
    font-style: italic; /* Optional: Italicize the text */
    box-shadow: 0 2px 4px hsl(var(--theme-shadow)); /* Dynamic shadow color */
  }
}

